html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  overflow-x: hidden;
}

.rightJS { 
  background: #BB3521; 
  font-family: SF Display,Helvetica,Helvetica Neue,Roboto,Noto Sans KR,sans-serif;
  font-weight: 500;
  letter-spacing: 0.001em;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
