html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body { 
  margin: 0;
  font-size: 10px;
  font-family: "Arial";
}

a {
    text-decoration: none;
    color: #000;
}

.marquee {
  height: 35px;
  width: 300%;
  position: relative;
  padding: 8px 0 4px 0;
  border: none;
}

.marq{
  background-color: #1D2088;
  
}


.marquee span {
  float: left;
  width: 300px;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -150%; }
}
